<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}{{ page.title_suffix }}</title>
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://raw.githubusercontent.com/designmodo/Flat-UI/master/dist/css/flat-ui.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/designmodo/Flat-UI/master/dist/css/flat-ui.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/sindresorhus/github-markdown-css/gh-pages/github-markdown-light.css">
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ page.brand }}</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-items">
        <ul class="nav navbar-nav">
          {% for navbar_item in page.navbar_items %}
            {% if page.pathname.startsWith(navbar_item) %}
              <li class="active"><a href="{{ navbar_item }}">{{ pages[navbar_item].name }}</a></li>
            {% else %}
              <li><a href="{{ navbar_item }}">{{ pages[navbar_item].name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% block main %}
  {% endblock %}
  <footer class="footer">
    <div class="container">
      <p class="text-muted">
        Copyright © 2016.
        Theme and code by <a href="https://github.com/tylerlong" target="_blank">Tyler Liu</a>.
        Powered by <a href="https://github.com/mamljs/maml" target="_blank">maml</a>.
      </p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/index.js"></script>
</body>
</html>
